/* ESTILOS TITULO */
body {
  text-align: center;
}

/* ESTILOS PALETA DE CORES */
.color {
  display: inline-block;
  border: solid 1px black;
  width: 100px;
  height: 100px;
  margin: 3px;
  border-radius: 100%;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: #6c596e;
}

#color3 {
  background-color: #6f7d8c;
}

#color4 {
  background-color: #77a0a9;
}

/* PIXELS A SEREM COLORIDOS */
.pixel {
  display: inline-block;
  background-color: white;
  border: solid 1px black;
  width: 40px;
  height: 40px;
}
