/* ESTILOS TITULO */
body {
  text-align: center;
}

main {
  margin: auto;
  background-color: white;
  width: 500px;
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
}

h1 {
  color: rgb(97, 97, 97);
  margin-top: auto;
}

/* ESTILOS PALETA DE CORES */
.color {
  display: inline-block;
  border: solid 1px black;
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

/* PIXELS A SEREM COLORIDOS */
.pixel {
  display: inline-block;
  background-color: white;
  border: solid 1px black;
  width: 40px;
  height: 40px;
  margin: -3px -1px;
}

/* ESTILO DO BOTÃO LIMPAR */
#clear-board {
  margin: 5px 0 15px;
  border-radius: 5px;
  border: double rgb(179, 176, 176);
}
